.Ui {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  inset: 0;
  padding: 32px;

  h1 {
    -webkit-text-stroke: 1px black;
    font-size: 60px;

    }
}

.players {
  display: flex;
  gap: 115px;
  margin-top: 380px;

  
}