.App {
  width: 100vw;
  height: 100vh;
  canvas:focus {
    outline: none;
  }
  position: relative;
}



:root {
  --primary: #5b5dff;
  --primary-shade-1: #d9d9ff;
  --primary-shade-2: #b8baff;
}

