@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('background.png');
  background-size: cover
}

* {
  box-sizing: border-box;
  letter-spacing: 1.5px;
  font-family: 'Bangers', cursive;
}